/* 
    Document   : readme
    Created on : Jul 17, 2013, 11:27:38 PM
    Author     : onesy <leentingOne@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

